body{
    margin: 0;
}
.face{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{ 
    display: flex;
    position: absolute;
    margin-top: 30%;
    margin-left: 50%;
    
}