body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: center;
}

.background{
    display: flex;
    align-items: center;
}


.btn{ 
    display: flex;
    position: absolute;
    margin-top: 30%;
    margin-left: 50%;
    
}